* {
    line-height: 20pt;
}

body {
    width: 80vw;
    margin:0 auto;
}

h1 {
    text-transform: uppercase;
    font-size: 26px;
    font-family: sans-serif;
    color: blue;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-size: 22px;
    font-family: sans-serif;
    color: red;
    text-align: center;
}

hr {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
    width: 40vw;
}

a {
    background-color: darkblue;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin:0 auto;
}
#special {
    background-color: crimson;
    color: white;
    font-weight: bold;

    font-size: 16px;
}

/* Voor de kolommen */
.column {
    float: left;
    width: 50%;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
}
